<div class="container-fluid" style="margin-top: 8%;">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">
                <img src="../assets/img/items/item9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>$99.99</h5>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>