<div class="container mb-5" style="margin-top: 8%;">
    <div class="row">
        <div class="col">
            <div class="card mt-3 map-responsive" data-aos="zoom-in">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242863.79536372036!2d-93.21019408393902!3d17.99051319681394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd762c50f3367%3A0xac9aee0de17adfc5!2sPull%26Bear!5e0!3m2!1ses-419!2smx!4v1720023073384!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>